@using InquiryForms.Core;
@* 
@if (Theme.ThemeId() == "good-sam")
{
    <div class="header-right w-col w-hidden-main w-hidden-medium w-col-small-12 w-col-tiny-12">
        @{
            //Html.RenderPartial("_NavMobile");
        }
    </div>
} *@

@code {

}
