@page "/homeowner"
@inject NavigationManager MyNavigationManager

<PageTitle>Home</PageTitle>

<p>
    <label>
@*         <input @bind="RouteData.RouteValues" />
        <input @bind="plancode" />
        <input @bind="mediacode" />
        <input @bind="" /> *@
    </label>
</p>


@code{

    [Parameter]
    [SupplyParameterFromQuery]
    public int? zipcode { get; set; }

    public string teststr = "abc";

}